body{
    margin: 0;
    padding: 0;
    background:  #17202A;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-title{
    width: 70%;
    border-radius: 4px;
    text-align: center;
    background: #292b2e;
    color: greenyellow;
    font-family: "Source Code Pro", monospace;
    font-size: clamp(2.5rem, 1rem + 3.5vw, 5rem);
    padding: 10px 4px 10px 4px;
}

.nav-title h5{
    margin: 0;
}
